.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-container {
  display: flex;
  justify-content: center;

  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .inner-container {
    flex-direction: column;
  }
}
.input-form {
  width: 50%;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .input-form {
    width: 100%;
  }
}
